.TopPredictions {
   width: 71.5%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 5vh 0;
   margin-bottom: 360px;
}

.PredictionsList {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, 360px);
   justify-content: space-evenly;
   justify-items: center;
}

.TopPredictions .PredictionCard {
   margin-top: 20px;
   margin-bottom: 30px;
   min-height: 450px;
}

@media screen and (min-width: 650px) {
   .PredictionsList {
      grid-template-columns: 1fr;
   }

   .TopPredictions .PredictionCard {
      grid-template: 1fr/ 3fr 4fr;
      min-height: 200px;
   }

   .TopPredictions .PredictionCard img {
      border-radius: 0;
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
   }
   .TopPredictions .PredictionCard .NotImg {
      grid-column: 2/ 3;
      border-radius: 0;
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
   }
}

@media screen and (min-width: 1500px) {
   .PredictionsList {
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;
   }
}

.TopPredictions .TitleButtons .ant-spin-lg .ant-spin-dot {
   margin-top: 0vh !important;
   font-size: 60px !important;
}
