.TopPredictions {
   width: 85vw;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   font-family: "Roboto Slab", serif;
   margin: 5vh 0;
}

.PredictionCards {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

/* .PredictionCards:after {
   content: "";
   flex: auto;
} */

