/* Prophet/Prediction Detail Comment/Review Common Css */
.Strip {
   width: 91%;
   filter: brightness(80%);
   transition: filter 0.3s ease-in-out;
   display: flex;
   padding-right: 10px;
   padding: 30px 0;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   font-size: .9rem;
}

.Strip:hover {
   filter: brightness(95%);
}

.Strip p {
   margin: 0 0;
}

.Strip .ImgContainer {
   height: 100%;
   width: 90px;
   /* min-width: 60px;
   max-width: 90px; */
   display: flex;
   justify-content: center;
}

.Strip .ImgContainer img {
   width: 45px;
   height: 45px;
   border-radius: 50%;
   margin-top: 5px;
}

.Strip .ContentContainer {
   width: 88%;
   display: flex;
   flex-wrap: wrap;
   color: white;
}

.Strip .UserInfo {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}

.Strip .Name {
   margin-right: 10px;
   color: #ffb400;
}

.Strip .Time {
   position: relative;
}
.Strip .Time:hover .ToolTip {
   visibility: visible;
}

.Strip .ToolTip {
   width: max-content;
   padding: 0 5px;
   background-color: black;
   color: white;
   visibility: hidden;
   position: absolute;
   bottom: 100%;
   left: -45%;
   z-index: 1;
   border-radius: 3px;
}

.Strip .ToolTip::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: black transparent transparent transparent;
}

.Strip .Text {
   /* margin-top: 10px; */
   font-family: var(--text-font);
   width: 95%;
   word-wrap: break-word;
}

/* =========================
PredictionDetail Comment CSS
============================ */

.ReviewStrip .ScoreContainer {
   width: 90%;
   display: flex;
   align-items: flex-end;
   flex-wrap: wrap;
   margin-top: -2px;
   margin-bottom: 5px;
}

.ReviewStrip .Score {
   margin-right: 2%;
   display: flex;
   align-items: center;
}

.ReviewStrip .OverallScore {
   margin-bottom: -5px;
}

.ReviewStrip .OverallScore span {
   margin-left: 5px;
   font-family: var(--number-font);
   color: #ffb400;
   font-size: 1.2rem;
}

.ReviewStrip .Text {
   padding-top: 6px;
   border-top: 1px solid rgba(255, 255, 255, 0.3);
}
