.Cover {
   width: 100%;
   height: 100vh;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;

   background: var(--bg);
   background-size: cover;
   padding-bottom: 5vh;
}

.CoverText {
   color: #fff;
   width: 60%;
   min-width: 300px;
   text-align: center;
   word-wrap: break-word;
}

.CoverText h1 {
   color: #fff;
   margin-bottom: 10px;
   font-size: 2.2rem;
}

.CoverText p {
   margin: 0 0;
   font-size: 1rem;
   font-weight: 400;
}

.Cover .Icon {
   margin-top: 4vh;
   padding-top: 3vh;
   cursor: pointer;
   transition: transform 0.3s ease-in-out;
   animation-duration: 2s;
   animation-iteration-count: infinite;
}

.Cover .TextHover {
   transition: transform 0.3s ease-in-out;
}

.Cover .TextHover:hover {
   transform: scale(1.05);
}

@media screen and (min-width: 760px) {
   .Cover {
      padding-bottom: 10vh;
   }
}

.Cover .animation_fade_slide_up {
   -webkit-animation: animation_slide_up 1000ms ease-out,
      animation_fade 2600ms ease;
   animation: animation_slide_up 1000ms ease-out, animation_fade 2600ms ease;
}

@-webkit-keyframes animation_slide_up {
   0% {
      -webkit-transform: translateY(20vh);
      transform: translateY(20vh);
   }
   100% {
      -webkit-transform: translateY(0vh);
      transform: translateY(0vh);
   }
}
@keyframes animation_slide_up {
   0% {
      -webkit-transform: translateY(20vh);
      transform: translateY(20vh);
   }
   100% {
      -webkit-transform: translateY(0vh);
      transform: translateY(0vh);
   }
}
