.Card {
   background-color: #252525;
   height: 50vh;
   min-height: 555px;

}

.ProphetCard {
   height: 45vh;
   margin: 1vh 1.5vw;
   background-color: white;
   min-width: 300px;
   min-height: 450px;
   border-radius: 1%;

   box-shadow: 0px 0px 3px black;
   filter: brightness(90%);
   transition: box-shadow 0.5s ease-out, filter 0.5s;

   display: flex;
   flex-wrap: wrap;
}

.ProphetCard:hover {
   box-shadow: 0px 0px 10px black;
   filter: brightness(110%);
   transition: box-shadow 0.3s ease-in, filter 0.5s;
}

.ProphetCard img {
   width: 100%;
   height: 45%;
   object-fit: cover;
   border-top-left-radius: 1%;
   border-top-right-radius: 1%;
}

.ProphetCard #name {
   width: 100%;
   margin: 1vh 0;
   text-align: center;
}

.ProphetCard #description {
   text-align: start;
   margin: 0 6%;
}

.NumberSection {
   text-align: center;
   width: 100%;
   margin: 0 0.8vw;
   margin-top: 5%;
   align-self: flex-end;
   display: flex;
   justify-content: space-around;
   align-items: flex-end;
   height: 20%;
}

.Score {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.ScoreNumber {
   color: #ffb400;
   font-family: "Special Elite", cursive;
   margin: 0 0;
   line-height: 0.8rem;
}

/* Big Numbers */
.ScoreNumber span {
   font-size: 2rem;
}

.NumberSection hr {
   background-color: rgb(53, 53, 53);
   width: 2px;
   align-self: center;
   height: 60%;
}

.Predictions {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.Predictions span {
   color: #ffb400;
   font-family: "Special Elite", cursive;
   font-size: 2.5rem;
   line-height: 3.1rem;
}

.ProphetsDots button{
    height: 6px !important;
}
