.Home {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: flex-start;
}

.Home .Fade-In {
   opacity: 0;
   transform: translateY(10vh);
   transition: opacity 1500ms ease-out, transform 600ms ease-out;
}

.Home .Fade-In-Show-More {
   opacity: 0;
   transition: opacity 300ms ease-out;
}

.Home .Fade-In.appear,
.Fade-In-Show-More.appear {
   transform: translateY(0);
   opacity: 1;
}

.Home .From-Left {
   transform: translateX(35vw);
}

.Home .From-Right {
   transform: translateX(-30vw);
}

.Home .FR-ShowMore {
   transform: translateX(-35vw);
}

.Home .From-Left,
.From-Right {
   transition: opacity 1000ms ease-out, transform 500ms ease-out;
   opacity: 0;
}

.Home .From-Left.appear,
.From-Right.appear {
   transform: translateX(0);
   opacity: 1;
}
