.Home {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: flex-start;
}

.Home .Slide-Up {
   opacity: 0;
   transform: translateY(10vh);
   transition: opacity 1500ms ease-out, transform 600ms ease-out;
}

.Home .Fade-In {
   opacity: 0;
   transition: opacity 300ms ease-out;
}

.Home .Slide-Up.appear,
.Fade-In.appear {
   transform: translateY(0);
   opacity: 1;
}

.Home .Slide-Left, .Slide-Right
 {
   transition: opacity 2000ms ease-out;
   /* , transform 500ms ease-out */
   opacity: 0;
} 

.Home .Slide-Left.appear {
   opacity: 1;
   -webkit-animation: animation_slide_left 1000ms ease-out;
   animation: animation_slide_left 1000ms ease-out;
}

.Home .Slide-Right.appear {
   opacity: 1;
   -webkit-animation: animation_slide_right 1000ms ease-out;
   animation: animation_slide_right 1000ms ease-out;
}

@keyframes animation_slide_left {
   0% {
      -webkit-transform: translateX(50vw);
      transform: translateX(50vw);
   }
   75% {
      -webkit-transform: translateX(-2vw);
      transform: translateX(-2vw);
   }
   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
   }
}

@-webkit-keyframes animation_slide_left {
   0% {
      -webkit-transform: translateX(50vw);
      transform: translateX(50vw);
   }
   75% {
      -webkit-transform: translateX(-2vw);
      transform: translateX(-2vw);
   }
   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
   }
}

@keyframes animation_slide_right {
   0% {
      -webkit-transform: translateX(-50vw);
      transform: translateX(-50vw);
   }
   75% {
      -webkit-transform: translateX(2vw);
      transform: translateX(2vw);
   }
   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
   }
}

@-webkit-keyframes animation_slide_right {
   0% {
      -webkit-transform: translateX(-50vw);
      transform: translateX(-50vw);
   }
   75% {
      -webkit-transform: translateX(2vw);
      transform: translateX(2vw);
   }
   100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
   }
}