
.Card {
    width: 10vw;
    height: 45vh;
    min-width: 265px;
    min-height: 450px;
    border-radius: 2%;

    background-color: white;
    box-shadow: 0px 0px 5px grey;
    filter: brightness(90%);
    transition:  box-shadow .3s ease-out, filter .3s;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.Card:hover{ 
    box-shadow: 0px 0px 10px grey;
    filter: brightness(105%);
    transition:  box-shadow .3s ease-in, filter .3s;
  }

.Card img {
    width:100%;
    height: 45%;
    object-fit: cover;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.Card #name {
    width:100%;
    margin: 16px 0;
    text-align: center;
}

.Card #description {
    height: 20%;
    text-align: start;
    margin: 0 25px;
}

.NumberSection {
    text-align: center;
    width: 100%;
    margin: 0 20px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.Score .number{
    color: #ffb400;
    font-family: 'Special Elite', cursive;

}

.number span {
    font-size:2.5rem;
}

.Predictions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Predictions span {
    color: #ffb400;
    font-family: 'Special Elite', cursive;
    font-size:3.8rem;
}