.Navbar {
   width: 100%;
   height: 6vh;
   background: transparent;
   transition:  background .3s;
   z-index: 1000;

   display: flex;
   justify-content: space-between;

   list-style: none;
   position: fixed;
   font-size: 1vw;
   /* background-color: blue; */
}

@media screen and (max-width:1000px) {
   .Navbar {
      font-size: 2.5vw;
   }
}

@media screen and (max-width:600px) {
   .Navbar {
      font-size: 3.5vw;
   }
}

.active{
   background: #2a2a2ab6;
   transition:  background .3s;
}

.NavLeft {
   /* border: 3px solid red; */
}

.NavRight {
   /* border: 3px solid red; */
}

.Navbar ul {
   list-style: none;
   display: inline-block;
   display: flex;
   align-items: center;
   /* border: 3px solid green; */
}

.Navbar li {
   /* border: 3px solid red; */
   height: 100%;
}


/*NavbarItem Hover Background无法占满整个Navbar的高 */
.Navbar li a {
   height: 100%;
   display: flex;
   align-items: center;
   text-decoration: none;
   color: white;
   padding: 0 2vw;
   transition: 0.5s;
   /* border: 3px solid yellow; */
}

.Navbar li a:hover {
   background-color: white;
   color: black;
}
