.Search {
   --border-radius: 5px;
   background-color: var(--main-color);
   width: 100%;
   height: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   color: white;
}

.Search .HoverEffect {
   background-color: var(--main-color-light);
   box-shadow: 0px 0px 2px black;
   transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.Search .HoverEffect:hover {
   box-shadow: 0px 0px 6px black;
   background-color: #404040;
}

.Search .ResultsAndTools {
   /* border: 3px solid green; */
   margin-top: 100px;
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.Search .Results {
   /* border: 3px solid orange; */
   width: 70%;
   height: 98%;
   min-width: 320px;
   border-radius: var(--border-radius);
}

.Search .SearchText {
   height: 12vh;
   display: flex;
   align-items: stretch;
   margin: 20px 10px;
   margin-left: 3.2%;
}

.Search .Icon {
   width: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 15px;
   transition: transform .3s ease-in-out;
   cursor: pointer;
}

.Search .Icon:hover {
   transform: scale(1.2);
}

.Search .SearchText p {
   margin: 0 0;
   display: flex;
   align-items: center;
   font-size: 2rem;
}

.Search .SwitchButtonContainer {
   width: 100%;
   display: flex;
   /* border: 3px solid red; */
   margin-top: 2%;
   justify-content: center;
}

.Search .SwitchButton {
   /* border: 3px solid blue; */
   width: 46%;
   height: 50px;
   display: flex;
   justify-content: center;
   transition: background-color 0.3s ease-in-out, border-color .6s ease-in-out;
   border: 3px solid grey;
}

.Search .SwitchButton:first-child {
   border-top-left-radius: var(--border-radius);
   border-bottom-left-radius: var(--border-radius);
}

.Search .SwitchButton:last-child {
   border-top-right-radius: var(--border-radius);
   border-bottom-right-radius: var(--border-radius);
}

.Search .SwitchButton:hover {
   background-color: darkgray;
   border-color: darkgray;
}

.Search .SwitchButtonActive {
   background-color: grey;
}

.Search .Empty {
   width: 100%;
   height: 20vh;
   display: flex;
   justify-content: center;
   margin-top: 10vh;
   font-size: 1.6rem;
}
.Search .SearchProphetCardsContainer{
   width: 100%;
}

.Search .SearchProphetCards {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(260px, 320px));
   justify-content: center;
   justify-items: center;
   margin: 0 1vw;
   column-gap: 1vw;
   margin-bottom: 8vh;
}

.Search .ProphetCard {
   max-width: 300px;
   color: black;
   margin: 0 0.5vw;
   margin-top: 5vh;
}

.Search .SearchPredictionCards {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 10vh;
}

.Search .PredictionCard {
   color: black;
   width: 91%;
   height: 240px;
   margin: 0 0;
   margin-top: 5vh;
}



.Search .Tools {
   width: 23%;
   max-width: 260px;
   min-width: 160px;
   margin-left: 2%;
}

.Search .Tools .Title {
   font-size: 1.3rem;
   width: 100%;
   margin: 0 0;
   padding: 0 1.5vw;
   padding-top: 1vh;
}

.Search .Sort {
   width: 100%;
   min-width: 150px;
   border-radius: var(--border-radius);
   padding-bottom: 3vh;
}

.Search .Filter {
   margin-top: 3vh;
   width: 100%;
   min-width: 150px;
   border-radius: var(--border-radius);
   padding-bottom: 3vh;
}

.Search .Filter .Clear {
   height: 20px;
   font-weight: 400;
   margin-left: 1.9vw;
   width: fit-content;
   border-bottom: 1px solid white;
   cursor: pointer;
}

.Search .Filter .ScoreAbove {
   margin-left: 1.8vw;
   display: flex;
   flex-direction: column;
}

.Search .Filter .ScoreAbove p {
   font-weight: 400;
   margin: 0 0;
}

.Search .Filter .RatingContainer {
   display: flex;
   margin: 2px 0;
   cursor: pointer;
}

.Search .Filter .RatingContainer p {
   font-size: 0.8rem;
   margin-left: 3%;
   margin-top: -1%;
}

.Search .SearchContentLoading {
   height: 60vh;
}


/* Responsive */
@media screen and (max-width: 1680px) {
   .Search .PredictionCard {
      height: 270px;
   }
}

@media screen and (max-width: 1200px) {
   .Search .PredictionCard {
      height: 290px;
   }
}

@media screen and (max-width: 1220px) {
   .Search .ResultsAndTools {
      width: 90%;
      height: 90%;
      justify-content: flex-start;
   }
   .Search .Results {
      width: 100%;
      order: 2;
      margin-bottom: 5%;
   }

   .Search .Tools {
      order: 1;
      display: flex;
      min-width: 100%;
      margin: 0 0;
   }

   .Search .Sort {
      margin: 0 0;
      width: 50%;
      min-width: 160px;
      max-width: 220px;
      margin-bottom: 2vh;
   }

   .Search .Filter {
      margin: 0 0;
      width: 50%;
      min-width: 160px;
      max-width: 220px;
      margin-bottom: 2vh;
      margin-left: 1.3vh;
   }
}

@media screen and (max-width: 660px) {
   .Search .PredictionCard {
      height: 580px;
      width: 300px;
   }

   .Search .PredictionCard img {
      width: 100%;
      height: 50%;
      border-radius: 0;
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
   }
   .Search .PredictionCard .NotImg {
      width: 100%;
      height: 50%;
      border-radius: 0;
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
   }
}



/* Prophets/Predictions Switch Button
Modified Material Ui Button  */
.SwitchButton .MuiButtonBase-root {
   height: 100%;
   width: 100%;
   border-radius: 0;
}

.SwitchButton .MuiButtonBase-root:hover {
   background-color: transparent !important;
}

.SwitchButton .MuiButton-label {
   text-transform: none;
   color: white;
}

/* Radio */
/* Sort Text Margin Adjustment */
.Search .Sort .MuiFormControlLabel-root {
   margin: -3% 0;
}
/* Sort/Filter Radio Select Buttons  */
.Search .MuiFormGroup-root {
   padding-left: 1.5vw;
}

/* Radio Button Size */
.Search .MuiSvgIcon-root {
   font-size: 1rem;
}
.Search .Tools .MuiButtonBase-root {
   margin-right: 1.5%;
}

/* Ripple Effect Size */
.Search .MuiIconButton-root {
   padding: 6px;
}

/* Checked Button Color and Ripple Effect Color */
.Search .Mui-checked {
   /* color: rgb(0, 175, 255) !important; */
   color: rgba(255, 180, 0, 1) !important;
}

/* Radio Button Hover Effect */
.MuiIconButton-colorSecondary:hover {
   /* background-color: rgba(0, 175, 255, 0.08) !important; */
   background-color: rgba(255, 180, 0, 0.1) !important;
}

/* Static Button Color */
.Search .MuiRadio-root {
   color: rgba(255, 255, 255, 0.8);
}

/* Radio Text  */
.Search .MuiTypography-body1 {
   font-size: 0.8rem;
   font-family: var(--main-font);
   font-weight: 400;
}

/* Rating Icon */
.Search .MuiRating-iconEmpty {
   color: rgba(255, 255, 255, 0.3);
}

.Search .MuiRating-root {
}

/* Antd  */
/* Spin  */
.Search .ant-spin-nested-loading {
   width: 100%;
   display: flex;
   justify-content: center;
}