.Search {
   --border-radius: 5px;
   background-color: var(--main-color);
   width: 100%;
   height: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   color: white;
}

.Search .HoverEffect {
   background-color: var(--main-color-light);
   box-shadow: 0px 0px 2px black;
   transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.Search .HoverEffect:hover {
   box-shadow: 0px 0px 6px black;
   background-color: #353535;
}

.Search .ResultsAndTools {
   margin-top: 100px;
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.Search .Results {
   width: 70%;
   min-width: 320px;
   border-radius: var(--border-radius);
   margin-bottom: 5vh;
}

.Search .SearchText {
   height: 12vh;
   display: flex;
   align-items: stretch;
   margin: 20px 10px;
   margin-left: 3.2%;
}

.Search .Icon {
   width: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 15px;
   transition: transform 0.3s ease-in-out;
   cursor: pointer;
}

.Search .Icon:hover {
   transform: scale(1.2);
}

.Search .SearchText p {
   margin: 0 0;
   display: flex;
   align-items: center;
   font-size: 2rem;
}

.Search .SwitchButtonContainer {
   width: 100%;
   display: flex;
   margin-top: 2%;
   justify-content: center;
}

.Search .SwitchButton {
   width: 46%;
   height: 50px;
   display: flex;
   justify-content: center;
   transition: background-color 0.3s ease-in-out, border-color 0.6s ease-in-out;
   border: 3px solid grey;
}

.Search .SwitchButton:first-child {
   border-top-left-radius: var(--border-radius);
   border-bottom-left-radius: var(--border-radius);
}

.Search .SwitchButton:last-child {
   border-top-right-radius: var(--border-radius);
   border-bottom-right-radius: var(--border-radius);
}

.Search .SwitchButton:hover {
   background-color: darkgray;
   border-color: darkgray;
}

.Search .SwitchButtonActive {
   background-color: grey;
}

.Search .Empty {
   width: 100%;
   height: 20vh;
   display: flex;
   justify-content: center;
   margin-top: 10vh;
   font-size: 1.6rem;
}

/* Prophets */
.Search .SearchProphetCardsContainer {
   width: 92%;
}

.Search .SearchProphetCards {
   display: grid;
   grid-template-columns: repeat(auto-fit, 280px);
   justify-content: center;
   justify-items: center;
   column-gap: 50px;
   margin-bottom: 8vh;
}

.Search .ProphetCard {
   height: 430px;
   margin-top: 55px;
}

/* Predictions  */
.Search .SearchPredictionCards {
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 8vh;
}

.Search .PredictionCard {
   margin-top: 50px;
   min-height: 400px;
}

.Search .Tools {
   width: 23%;
   max-width: 260px;
   min-width: 160px;
   margin-left: 2%;
}

.Search .Tools .Title {
   font-size: 1.3rem;
   width: 100%;
   margin: 0 0;
}

.Search .Sort {
   width: 100%;
   min-width: 150px;
   border-radius: var(--border-radius);
   padding: clamp(15px, 1.5vw, 20px);
   padding-bottom: 3vh;
}

.Search .Filter {
   margin-top: 3vh;
   width: 100%;
   min-width: 150px;
   border-radius: var(--border-radius);
   padding: clamp(15px, 1.5vw, 20px);
   padding-bottom: 3vh;
}

.Search .Filter .Clear {
   height: 20px;
   margin-left: 2px;
   font-weight: 400;
   width: fit-content;
   border-bottom: 1px solid white;
   cursor: pointer;
}

.Search .Filter .ScoreAbove {
   margin-left: 10px;
   display: flex;
   flex-direction: column;
}

.Search .Filter .ScoreAbove p {
   font-weight: 400;
   margin: 0 0;
}

.Search .Filter .RatingContainer {
   display: flex;
   margin: 2px 0;
   cursor: pointer;
}

.Search .Filter .RatingContainer p {
   font-size: 0.8rem;
   margin-left: 3%;
   margin-top: -1%;
}

.Search .SearchContentLoading {
   height: 60vh;
}

@media screen and (max-width: 1220px) {
   .Search .ResultsAndTools {
      width: 90%;
      height: 90%;
      justify-content: flex-start;
   }
   .Search .Results {
      width: 100%;
      order: 2;
      margin-bottom: 5%;
   }

   .Search .Tools {
      order: 1;
      display: flex;
      min-width: 100%;
      margin: 0 0;
   }

   .Search .Sort {
      margin: 0 0;
      width: 50%;
      min-width: 160px;
      max-width: 220px;
      margin-bottom: 2vh;
   }

   .Search .Filter {
      margin: 0 0;
      width: 50%;
      min-width: 160px;
      max-width: 220px;
      margin-bottom: 2vh;
      margin-left: 1.3vh;
   }
}

@media screen and (min-width: 750px) {
   .Search .PredictionCard {
      grid-template: 1fr/ 3fr 4fr;
      min-height: 180px;
   }

   .Search .PredictionCard img {
      border-radius: 0;
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
   }
   .Search .PredictionCard .NotImg {
      grid-column: 2/ 3;
      border-radius: 0;
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
   }
}


/* Switch Button
Modified Material Ui Button  */
.SwitchButton .MuiButtonBase-root {
   height: 100%;
   width: 100%;
   border-radius: 0;
}

.SwitchButton .MuiButtonBase-root:hover {
   background-color: transparent !important;
}

.SwitchButton .MuiButton-label {
   text-transform: none;
   color: white;
}

/* Radio */
/* Sort Text Margin Adjustment */
.Search .Sort .MuiFormControlLabel-root {
   height: 20px;
   margin: 3px 0;
   margin-left: 5px;
}
/* @media screen and (max-width: 380px) {
   .Search .Sort .MuiFormControlLabel-root {
      height: 30px;
      margin: 3px 0;
   }
} */
/* Sort/Filter Radio Select Buttons  */
.Search .MuiFormGroup-root {
   margin-top: 5px;
}

/* Radio Button Size */
.Search .MuiSvgIcon-root {
   font-size: 1rem;
}
.Search .Tools .MuiButtonBase-root {
   margin-right: 1.5%;
}

/* Ripple Effect Size */
.Search .MuiIconButton-root {
   padding: 6px;
}

/* Checked Button Color and Ripple Effect Color */
.Search .Mui-checked {
   /* color: rgb(0, 175, 255) !important; */
   color: rgba(255, 180, 0, 1) !important;
}

/* Radio Button Hover Effect */
.MuiIconButton-colorSecondary:hover {
   /* background-color: rgba(0, 175, 255, 0.08) !important; */
   background-color: rgba(255, 180, 0, 0.1) !important;
}

/* Static Button Color */
.Search .MuiRadio-root {
   color: rgba(255, 255, 255, 0.8);
}

/* Radio Text  */
.Search .MuiTypography-body1 {
   font-size: 0.8rem;
   font-family: var(--main-font);
   font-weight: 400;
   min-width: 101px;
}

/* Rating Icon */
.Search .MuiRating-iconEmpty {
   color: rgba(255, 255, 255, 0.3);
}

/* Antd  */
/* Spin  */
.Search .ant-spin-nested-loading {
   width: 100%;
   display: flex;
   justify-content: center;
}
