/* Prophet/Prediction Detail Common CSS */
.Detail {
   background-color: var(--main-color);
   min-height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
}

.Detail .Content {
   background-color: var(--main-color-light);
   width: 60%;
   height: 90%;
   margin-top: 8vh;
   margin-bottom: 5vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: flex-start;
   border-radius: 8px;
}

.Detail .Section {
   /* background-color: green; */
   width: 90%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 3vh;
   margin-bottom: 1vh;
}

.Detail .SectionTitleAndButton {
   color: white;
   width: 93%;
   margin-bottom: 3vh;
   padding-bottom: 1vh;
   padding-right: 1%;
   box-shadow: 0 4px 2px -2px white;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

.Detail .SectionTitleAndButton h2 {
   color: white;
   margin: 0 0;
}

@media screen and (max-width: 1000px) {
   .Detail .Content {
      width: 90%;
   }
}

/* Prophet Detail */
.Detail .ProphetCard {
   --border-radius: 5px;
   height: 260px;
   max-width: 91%;
   margin: 2vh 0;
}

.Detail .ProphetCard:hover {
   transform: scale(1.01);
}

.Detail .ProphetCard img {
   width: 50%;
   height: 100%;
   border-radius: 0;
   border-top-left-radius: var(--border-radius);
   border-bottom-left-radius: var(--border-radius);
}

.Detail .ProphetCard .NotImg {
   width: 50%;
   height: 100%;
   border-radius: 0;
   border-top-right-radius: var(--border-radius);
   border-bottom-right-radius: var(--border-radius);
}

.Detail .List {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

@media screen and (max-width: 650px) {
   .Detail .ProphetCard {
      height: 500px;
   }

   .Detail .ProphetCard img {
      width: 100%;
      height: 50%;
      border-radius: 0;
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
   }

   .Detail .ProphetCard .NotImg {
      width: 100%;
      height: 50%;
      border-radius: 0;
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
   }

   .Detail .PredictionStrip {
      flex-direction: column;
      justify-content: space-between;
   }

   .Detail .PredictionStrip .Text {
      margin-left: 3%;
      margin-right: 3%;
      width: 100%;
   }

   .Detail .PredictionStrip .Rating {
      margin: 0 0;
      margin-top: -5%;
      margin-bottom: 3%;
      width: 100%;
      justify-content: center;
   }
}

/* Prediction Detail CSS */
.Detail .PredictionCard {
   width: 90%;
   margin: 0 0;
   height: 300px;
   margin-bottom: 3vh;
}

.Detail .Section .Buttons {
   width: 100%;
   display: flex;
   justify-content: center;
}

@media screen and (max-width: 600px) {
   .Detail .PredictionCard {
      height: 580px;
      width: 300px;
   }

   .Detail .PredictionCard img {
      width: 100%;
      height: 50%;
      border-radius: 0;
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
   }
   .Detail .PredictionCard .NotImg {
      width: 100%;
      height: 50%;
      border-radius: 0;
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
   }
}

/* AntD Modal */
.ant-modal {
   margin-top: 20vh !important;
}

.ant-modal-content {
}

/* Modal Buttons */
/* Cancel Button */
.ant-modal-root .MuiButton-outlined:first-child {
   color: var(--main-color-light) !important;
   transition: background 0.3s ease-in-out, color 0.3s ease-in-out !important;
}

.ant-modal-root .MuiButton-outlined:first-child:hover {
   color: white !important;
}

/* Submit Button */
.ant-modal-root .MuiButton-outlined:last-child {
   background: var(--main-color-light);
}

.ant-modal-root .MuiButton-outlined:last-child:hover {
   background: rgb(80, 80, 80) !important;
}

/* TextArea border static/hover */
.ant-modal-root .ant-input {
   border-color: rgb(150, 150, 150);
}
.ant-modal-root .ant-input:focus, .ant-input-focused {
   box-shadow: 0 0 0 .8px rgb(150, 150, 150);
}


#wordCount {
   margin: 0 0;
   text-align: end;
   color: rgb(160, 160, 160);
}
