.Detail .Section .Buttons {
   width: 100%;
   display: flex;
   justify-content: center;
}

.Detail .PredictionCard {
   max-width: 280px;
   max-height: 450px;
}

.Detail .PredictionCard img {
   max-height: 200px;
}

@media screen and (min-width: 750px) {
   .Detail .PredictionCard {
      max-height: 320px;
      max-width: none;
   }
   .Detail .PredictionCard img {
      max-height: none;
   }
}

@media screen and (min-width: 1100px) {
   .Detail .PredictionCard {
      max-height: 235px;
   }

   .Detail .PredictionCard img {
      max-height: 235px;
   }
}

/* @media screen and (min-width: 1400px) {
   .Detail .PredictionCard {
      max-height: 280px;
   }
} */

.ant-modal-content p {
   margin: 0 0;
}

.ant-modal-content .ScoreContainer {
   width: 100%;
   display: flex;
   align-items: flex-end;
   flex-wrap: wrap;
   margin-top: 10px;
   margin-bottom: 15px;
}

.ant-modal-content .Score {
   margin: 2px 0;
   margin-right: 20px;
   display: flex;
   align-items: center;
}

.ant-modal-content .OverallScore {
   margin-bottom: -8px;
}

.ant-modal-content .OverallScore span {
   margin-left: 5px;
   font-family: var(--number-font);
   color: #ffb400;
   font-size: 1.5rem;
}

.ant-modal-content .Mui-disabled {
   background-color: rgba(169, 169, 169, 0.3) !important;
   color: grey !important;
   border: 1px solid rgba(169, 169, 169, 0.3) !important;
}

.ant-modal-body {
   padding-top: 0px;
}
