.Detail .PredictionStrip {
   margin-top: 30px;
}

@media screen and (max-width: 650px) {
   .Detail .PredictionStrip {
      flex-direction: column;
      justify-content: space-between;
   }

   .Detail .PredictionStrip .Text {
      margin-left: 3%;
      margin-right: 3%;
      width: 100%;
   }

   .Detail .PredictionStrip .Rating {
      margin: 0 0;
      margin-top: -5%;
      margin-bottom: 3%;
      width: 100%;
      justify-content: center;
   }
}
