.Detail .ProphetCard {
   max-width: 280px;
   max-height: 430px;
}

.Detail .ProphetCard img {
   max-height: 180px;
}

@media screen and (min-width: 750px) {
   .Detail .ProphetCard {
      max-height: 250px;
      max-width: none;
   }
   .Detail .ProphetCard img {
      max-height: none;
   }
}

@media screen and (min-width: 1100px) {
   .Detail .ProphetCard {
      max-height: 235px;
   }
}

@media screen and (min-width: 1400px) {
   .Detail .ProphetCard {
      max-height: 200px;
   }
}

.Detail .PredictionStrip {
   margin-top: 30px;
}

@media screen and (max-width: 650px) {
   .Detail .PredictionStrip {
      flex-direction: column;
      justify-content: space-between;
   }

   .Detail .PredictionStrip .TextSection {
      margin-left: 3%;
      margin-right: 3%;
      width: 95%;
   }

   .Detail .PredictionStrip .Rating {
      margin: 0 0;
      margin-top: -5%;
      margin-bottom: 3%;
      width: 100%;
      justify-content: center;
   }
}
