.TopProphets {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 5vh 0;
   overflow-x: hidden;
}

.TopProphets .TitleAndButtons {
   margin: 0 8.5vw
}

.TopProphets .ProphetsList {
   width: 85%;
   margin-top: 2vh;
   /* background-color: blue; */
}

.TopProphets .ProphetCardContainer {
   background-color: #252525;
   min-height: 500px;
   display: flex !important;
   justify-content: center;
}



/* AntD Carousel Dots */
.TopProphets .AntDCarouselDots button{
    height: 6px !important;
}

