.TopProphets {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 5vh 0;
   overflow-x: hidden;
}

.TopProphets .TitleAndButtons {
   margin: 0 8%
}

.TopProphets .ProphetsList {
   width: 85%;
   margin-top: 2vh;
}

.TopProphets .ProphetCardContainer {
   min-height: 500px;
   display: flex !important;
   justify-content: center;
}

.TopProphets .ProphetCard {
   height: 430px;
   width: 320px;
}

/* AntD Carousel Dots */
.TopProphets .AntDCarouselDots button{
    height: 6px !important;
}

