.TopProphets {
   width: 85vw;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 5vh 0;
}

.ProphetsList {
   width: 100%;
   margin-top: 2vh;
   /* background-color: blue; */
}

.ProphetCardContainer {
   background-color: #252525;
   min-height: 525px;
}

/* Material UI Button */
.MuiButton-outlined {
   border: 1.5px solid rgb(71, 71, 71) !important;
   margin: 0 5px !important;
   border-radius: 0% !important;
}

.MuiButton-root:hover {
   background: rgb(71, 71, 71) !important;
}

/* Text */
.MuiButton-label {
   color: white;
}

.AntDCarouselDots button{
    height: 6px !important;
}