/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
/* AntD */
@import "~antd/dist/antd.css";

* {
   
   --main-color: #252525;
   --main-color-light:#353535;
   margin: 0;
   padding: 0;
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none;
}

::-webkit-scrollbar {
   width: 3px;
}
::-webkit-scrollbar-track {
   background: var(--main-color);
}
::-webkit-scrollbar-thumb {
   background-color: grey;
   border-radius: 20px;
}

.App {
   width: 100%;
   background-color: var(--main-color);
   font-family: "Playfair Display", serif;
   display: flex;
   flex-wrap: wrap;
}




.ant-spin-nested-loading{
   margin: 0 0;
   width: 20px;
}

.ant-spin-blur {
   opacity: 0 !important;
}
 .ant-spin {
   transform: scale(1.6);
}

